/*---/animations du loader/---*/
@keyframes circles {
  100% {
    opacity: 0;
    z-index: -10;
  }
}

@-webkit-keyframes circles__circ1--anim {
  0%, 25%, 100% {
     -webkit-transform: translate(0, 10px);
     transform: translate(0, 10px);
  }
  50%, 75% {
     -webkit-transform: translate(0, 0);
     transform: translate(0, 0);
  }
}  

@keyframes circles__circ1--anim {
  0%, 25%, 100% {
     -webkit-transform: translate(0, 10px);
     transform: translate(0, 10px);
  }
  50%, 75% {
     -webkit-transform: translate(0, 0);
     transform: translate(0, 0);
  }
} 
 
@-webkit-keyframes circles__circ2--anim {
  0%, 25%, 100% {
     -webkit-transform: translate(-16px, -16px);
     transform: translate(-16px, -16px);
  }
  50%, 75% {
     -webkit-transform: translate(0, 0);
     transform: translate(0, 0);
  }
}  

@keyframes circles__circ2--anim {
  0%, 25%, 100% {
     -webkit-transform: translate(-16px, -16px);
     transform: translate(-16px, -16px);
  }
  50%, 75% {
     -webkit-transform: translate(0, 0);
     transform: translate(0, 0);
  }
}  

@-webkit-keyframes circles__circ3--anim {
  0%, 25%, 100% {
     -webkit-transform: translate(16px, -16px);
     transform: translate(16px, -16px);
  }
  50%, 75% {
     -webkit-transform: translate(0, 0);
     transform: translate(0, 0);
  }
}  

@keyframes circles__circ3--anim {
  0%, 25%, 100% {
     -webkit-transform: translate(16px, -16px);
     transform: translate(16px, -16px);
  }
  50%, 75% {
     -webkit-transform: translate(0, 0);
     transform: translate(0, 0);
  }
}

/*---/animation des icones de checking/---*/
 @keyframes checked {
   0% {
       transform: rotateZ(100deg)
   }

   50% {
       transform: rotateZ(-50deg)
   }

   100% {
       transform: rotateZ(0deg)
   }
}

/*---/animation de contenu de catégorie/---*/
@keyframes show {
   0% {
       opacity: 0
   }

   50% {
       opacity: .5;
       transform: scale(1.1)
   }

   100% {
       opacity: 1;
       transform: scale(1)
   }
}

/*---/animation des coeurs/---*/
@keyframes heart {
   from {
     opacity: 0;
   }
   to {
     opacity: 1;
   }
 }