/*---------/Page d'acceuil/---------*/

/*---/Loader design/---*/
.circles {
  height: 50px;
  width: 50px;
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 0.90);
  animation: circles 2.01s;
  animation-delay: 3s;
  animation-fill-mode: both;
  z-index: 10000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circles__circ1,
.circles__circ2,
.circles__circ3 {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  position: absolute;
  mix-blend-mode: multiply;
}

.circles__circ1 {
  background-color: $color-primary;
  -webkit-transform: translate(0, 10px);
  transform: translate(0, 10px);
  -webkit-animation: circles__circ1--anim 3s infinite ease-in-out;
  animation: circles__circ1--anim 3s infinite ease-in-out;
}

.circles__circ2 {
  background-color: $color-secondary;
  -webkit-transform: translate(-16px, -16px);
  transform: translate(-16px, -16px);
  -webkit-animation: circles__circ2--anim 3s infinite ease-in-out;
  animation: circles__circ2--anim 3s infinite ease-in-out;
}

.circles__circ3 {
  background-color: $color-tertiary;
  -webkit-transform: translate(16px, -16px);
  transform: translate(16px, -16px);
  -webkit-animation: circles__circ3--anim 3s infinite ease-in-out;
  animation: circles__circ3--anim 3s infinite ease-in-out;
}

/*---/localisation/---*/
.location {
  display: flex;
  justify-content: center;
  padding: 1rem;
  background-color: rgb(243, 243, 243);
  position: relative;

  & i {
    margin-right: 1rem;
  }

  & p {
    font-weight: 500;
    margin: 0;
  }
}


/*---/slogan/---*/
.slogan {
  padding: 2.4rem 2rem 4.5rem 2rem;
  text-align: center;
  background-color: rgb(250, 250, 250);

  //pour toute resolution superieure a 1082px
  @media (min-width:67.68rem) {
    border-radius: 0 0 1.25rem 1.25rem;
  }

  & h2 {
    margin: 0 auto;
    width: fit-content;
  }

  & p {
    font-weight: 300;
    font-size: 1.1rem;
    margin: 0.7rem auto 3rem auto;
    width: fit-content;
  }

  //bouton explorer
  & a {
    @include button(primary);
  }
}

/*---/fonctionnement/---*/
.functioning {
  margin: 3rem auto 4.3rem auto;
  width: fit-content;

  & h2 {
    margin-top: 0;
    margin-bottom: 1.8rem;
  }

  & .list {
    margin: 0;
    padding: 0;
    list-style: none;
    counter-reset: compteListe;

    //pour toute resolution superieure a 991px (desktop)
    @media (min-width:62rem) {
      display: flex;
    }

    &__tab {
      padding: 1.65rem 2rem;
      margin: 1rem 1rem 1.5rem 1rem;
      box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.125);
      border-radius: 1.25rem;
      background-color: #f6f6f6;
      display: flex;
      position: relative;
      font-weight: 500;
      width: 20.313rem;
      &:hover {
        background-color: #f5edff;

        .list__icon {
          &--colored {
            color: #9356dc;
          }
        }
      }
      
      &--colored {
        background-color: #f5edff;
        & i {
          color: #9356dc;
        }
      }
  
      //pour toute resolution superieure a 991px (desktop)
      @media (min-width:62rem) {
        flex: 1;
        margin: 0;
        margin-left: 2rem;
  
        &:first-child {
          margin-left: 0.75rem;
        }
      }
  
      &:first-child {
        margin-top: 0;
      }
  
      &:last-child {
        margin-bottom: 0;
      }
  
      &::before {
        counter-increment: compteListe 1;
        content: counter(compteListe) " ";
        background: $color-primary;
        height: 1.5rem;
        width: 1.5rem;
        border-radius: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        position: absolute;
        left: -0.75rem;
      }
    }
  
    &__icon {
      margin-right: 1.6rem;
      color: #7e7e7e;
      font-size: 1.2rem;
    }
  
    & p {
      margin: 0;
    }
  } 
}

/*---/liste des restaurants/---*/
.restaurants {
  background-color: #f6f6f6;
  padding: 2.3rem 1rem 2.8rem 1rem;
  
  //pour toute resolution superieure a 1082px
  @media (min-width:67.68rem) {
    border-radius: 1.25rem 1.25rem 0 0;
  }
}

.restaurants__cards {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  column-gap: 2rem;

  //pour toute resolution superieure a 767px (tablettes et supp)
  @media (min-width:48rem) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.card {
  background-color: white;
  border-radius: 1rem;
  position: relative;
  text-decoration: none;
  color: inherit;
  margin: 0 0 1rem 0;

  & figure {
    margin: 0;
  }

  & img {
    height: 11rem;
    width: 100%;
    border: transparent solid 0px;
    border-radius: 1rem 1rem 0 0;
    box-shadow: none;
    object-fit: cover;
  }

  &__badge {
    background-color: $color-tertiary;
    color: darken($color-tertiary, 50%);
    padding: 0.35rem 0.8rem;
    border-radius: 0.125rem;
    position: absolute;
    top: 0.9rem;
    right: 0.75rem;
    font-size: 0.9rem;
  }

  & figcaption {
    padding: 0.9rem;
    position: relative;
    display: flex;
    align-items: center;
  }

  &__text {
    flex: 1;
    & a {
      color: inherit;
    }
  }

  & h3 {
    margin: 0;
    margin-bottom: 0.25rem;
  }

  & p {
    margin: 0;
  }

  &__heart {
    @include heart;
  } 
}

