@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap");
/*---/animations du loader/---*/
@-webkit-keyframes circles {
  100% {
    opacity: 0;
    z-index: -10;
  }
}
@keyframes circles {
  100% {
    opacity: 0;
    z-index: -10;
  }
}
@-webkit-keyframes circles__circ1--anim {
  0%, 25%, 100% {
    transform: translate(0, 10px);
  }
  50%, 75% {
    transform: translate(0, 0);
  }
}
@keyframes circles__circ1--anim {
  0%, 25%, 100% {
    transform: translate(0, 10px);
  }
  50%, 75% {
    transform: translate(0, 0);
  }
}
@-webkit-keyframes circles__circ2--anim {
  0%, 25%, 100% {
    transform: translate(-16px, -16px);
  }
  50%, 75% {
    transform: translate(0, 0);
  }
}
@keyframes circles__circ2--anim {
  0%, 25%, 100% {
    transform: translate(-16px, -16px);
  }
  50%, 75% {
    transform: translate(0, 0);
  }
}
@-webkit-keyframes circles__circ3--anim {
  0%, 25%, 100% {
    transform: translate(16px, -16px);
  }
  50%, 75% {
    transform: translate(0, 0);
  }
}
@keyframes circles__circ3--anim {
  0%, 25%, 100% {
    transform: translate(16px, -16px);
  }
  50%, 75% {
    transform: translate(0, 0);
  }
}
/*---/animation des icones de checking/---*/
@-webkit-keyframes checked {
  0% {
    transform: rotateZ(100deg);
  }
  50% {
    transform: rotateZ(-50deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}
@keyframes checked {
  0% {
    transform: rotateZ(100deg);
  }
  50% {
    transform: rotateZ(-50deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}
/*---/animation de contenu de catégorie/---*/
@-webkit-keyframes show {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes show {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
/*---/timing apparition des etiquettes de menu/---*/
.delay-0 {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.delay-1 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

.delay-2 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.delay-3 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.delay-4 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.delay-5 {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.delay-6 {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.delay-7 {
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}

.delay-8 {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

/*---/pour l'ensemble du site/---*/
* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}
* a {
  text-decoration: none;
}
* input {
  opacity: 0;
}

/*---/taille des blocs/---*/
.block {
  max-width: 67.68rem;
  margin: auto;
  position: relative;
}

/*---/header/---*/
header {
  padding: 1rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
  position: relative;
  z-index: 1000;
}
header h1 {
  font-family: "Shrikhand", "cursive";
  margin: 0 auto;
  text-align: center;
  font-size: 1.8rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
header i {
  position: absolute;
  left: 1.5rem;
  top: 33%;
  font-size: 1.3rem;
  color: black;
}

/*---/footer/---*/
.footer {
  background-color: #353535;
}
.footer__block {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
}
.footer__logo {
  color: white;
  font-family: "Shrikhand", "cursive";
  margin: 0;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}
.footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.footer li {
  margin: 0.5rem 0;
}
.footer li:first-child {
  margin-top: 0;
}
.footer li:last-child {
  margin-bottom: 0;
}
.footer a {
  color: white;
}
.footer a:hover {
  text-decoration: underline;
}
.footer i {
  width: 1.2rem;
  margin-right: 0.5rem;
  font-size: 1rem;
}

/*---------/Page d'acceuil/---------*/
/*---/Loader design/---*/
.circles {
  height: 50px;
  width: 50px;
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-animation: circles 2.01s;
          animation: circles 2.01s;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  z-index: 10000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circles__circ1,
.circles__circ2,
.circles__circ3 {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  position: absolute;
  mix-blend-mode: multiply;
}

.circles__circ1 {
  background-color: #9356DC;
  transform: translate(0, 10px);
  -webkit-animation: circles__circ1--anim 3s infinite ease-in-out;
  animation: circles__circ1--anim 3s infinite ease-in-out;
}

.circles__circ2 {
  background-color: #FF79DA;
  transform: translate(-16px, -16px);
  -webkit-animation: circles__circ2--anim 3s infinite ease-in-out;
  animation: circles__circ2--anim 3s infinite ease-in-out;
}

.circles__circ3 {
  background-color: #99E2D0;
  transform: translate(16px, -16px);
  -webkit-animation: circles__circ3--anim 3s infinite ease-in-out;
  animation: circles__circ3--anim 3s infinite ease-in-out;
}

/*---/localisation/---*/
.location {
  display: flex;
  justify-content: center;
  padding: 1rem;
  background-color: rgb(243, 243, 243);
  position: relative;
}
.location i {
  margin-right: 1rem;
}
.location p {
  font-weight: 500;
  margin: 0;
}

/*---/slogan/---*/
.slogan {
  padding: 2.4rem 2rem 4.5rem 2rem;
  text-align: center;
  background-color: rgb(250, 250, 250);
}
@media (min-width: 67.68rem) {
  .slogan {
    border-radius: 0 0 1.25rem 1.25rem;
  }
}
.slogan h2 {
  margin: 0 auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.slogan p {
  font-weight: 300;
  font-size: 1.1rem;
  margin: 0.7rem auto 3rem auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.slogan a {
  border: 0;
  padding: 1rem 1.5rem;
  margin-top: 5rem;
  border-radius: 100px;
  color: white;
  background-color: rgb(104, 104, 104);
  background-image: linear-gradient(0deg, rgba(147, 86, 220, 0.9) 0%, rgba(255, 121, 218, 0.9) 100%);
  cursor: pointer;
  transition-duration: 0.25s;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
}
.slogan a:hover {
  background-color: white;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.6);
}

/*---/fonctionnement/---*/
.functioning {
  margin: 3rem auto 4.3rem auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.functioning h2 {
  margin-top: 0;
  margin-bottom: 1.8rem;
}
.functioning .list {
  margin: 0;
  padding: 0;
  list-style: none;
  counter-reset: compteListe;
}
@media (min-width: 62rem) {
  .functioning .list {
    display: flex;
  }
}
.functioning .list__tab {
  padding: 1.65rem 2rem;
  margin: 1rem 1rem 1.5rem 1rem;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.125);
  border-radius: 1.25rem;
  background-color: #f6f6f6;
  display: flex;
  position: relative;
  font-weight: 500;
  width: 20.313rem;
}
.functioning .list__tab:hover {
  background-color: #f5edff;
}
.functioning .list__tab:hover .list__icon--colored {
  color: #9356dc;
}
.functioning .list__tab--colored {
  background-color: #f5edff;
}
.functioning .list__tab--colored i {
  color: #9356dc;
}
@media (min-width: 62rem) {
  .functioning .list__tab {
    flex: 1;
    margin: 0;
    margin-left: 2rem;
  }
  .functioning .list__tab:first-child {
    margin-left: 0.75rem;
  }
}
.functioning .list__tab:first-child {
  margin-top: 0;
}
.functioning .list__tab:last-child {
  margin-bottom: 0;
}
.functioning .list__tab::before {
  counter-increment: compteListe 1;
  content: counter(compteListe) " ";
  background: #9356DC;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  position: absolute;
  left: -0.75rem;
}
.functioning .list__icon {
  margin-right: 1.6rem;
  color: #7e7e7e;
  font-size: 1.2rem;
}
.functioning .list p {
  margin: 0;
}

/*---/liste des restaurants/---*/
.restaurants {
  background-color: #f6f6f6;
  padding: 2.3rem 1rem 2.8rem 1rem;
}
@media (min-width: 67.68rem) {
  .restaurants {
    border-radius: 1.25rem 1.25rem 0 0;
  }
}

.restaurants__cards {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  -moz-column-gap: 2rem;
       column-gap: 2rem;
}
@media (min-width: 48rem) {
  .restaurants__cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

.card {
  background-color: white;
  border-radius: 1rem;
  position: relative;
  text-decoration: none;
  color: inherit;
  margin: 0 0 1rem 0;
}
.card figure {
  margin: 0;
}
.card img {
  height: 11rem;
  width: 100%;
  border: transparent solid 0px;
  border-radius: 1rem 1rem 0 0;
  box-shadow: none;
  -o-object-fit: cover;
     object-fit: cover;
}
.card__badge {
  background-color: #99E2D0;
  color: #1b6150;
  padding: 0.35rem 0.8rem;
  border-radius: 0.125rem;
  position: absolute;
  top: 0.9rem;
  right: 0.75rem;
  font-size: 0.9rem;
}
.card figcaption {
  padding: 0.9rem;
  position: relative;
  display: flex;
  align-items: center;
}
.card__text {
  flex: 1;
}
.card__text a {
  color: inherit;
}
.card h3 {
  margin: 0;
  margin-bottom: 0.25rem;
}
.card p {
  margin: 0;
}
.card__heart {
  height: 2rem;
  width: 2rem;
  cursor: pointer;
  position: relative;
  background-color: black;
}
.card__heart:active::before {
  opacity: 1;
}
.card__heart:active .card__heart--filled,
.card__heart:active .menu__heart--filled {
  opacity: 0;
}
.card__heart::before {
  opacity: 0;
  transition: 1s;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(0deg, #9356DC 0%, #FF79DA 100%);
}
.card__heart i {
  background-color: white;
  transition-duration: 1s;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  mix-blend-mode: lighten;
  font-size: 1.5rem;
}

/*---------/Pages de menu/---------*/
/*---/entete fixé/---*/
.header--fixed {
  background-color: #fff;
  box-shadow: 0 0 10px #f7f7f7;
  display: flex;
  height: 4em;
  justify-content: center;
  padding: 1rem;
  width: 100%;
  z-index: 800;
  position: fixed;
  top: 0;
}

/*---/image d'entete/---*/
.hero img {
  display: block;
  width: 100%;
  max-width: 67.68rem;
  height: 17rem;
  max-height: 32rem;
  -o-object-fit: cover;
     object-fit: cover;
  position: fixed;
  top: 4rem;
}

/*---/conteneur du menu/---*/
.menu {
  margin-top: 17.7rem;
  border-radius: 2rem 2rem 0 0;
  background-color: #f6f6f6;
  z-index: 1;
  position: relative;
}
.menu__header {
  padding: 1rem 2rem 0 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu__header h2 {
  font-family: "Shrikhand", "cursive";
  font-size: 1.6rem;
}
.menu__heart {
  height: 2rem;
  width: 2rem;
  cursor: pointer;
  position: relative;
  background-color: black;
}
.menu__heart:active::before {
  opacity: 1;
}
.menu__heart:active .card__heart--filled,
.menu__heart:active .menu__heart--filled {
  opacity: 0;
}
.menu__heart::before {
  opacity: 0;
  transition: 1s;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(0deg, #9356DC 0%, #FF79DA 100%);
}
.menu__heart i {
  background-color: white;
  transition-duration: 1s;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  mix-blend-mode: lighten;
  font-size: 1.5rem;
}
.menu__heart i {
  background-color: #f6f6f6 !important;
}
.menu__categories {
  margin: 0rem 1rem;
  padding-bottom: 3.2rem;
}
@media (min-width: 64rem) {
  .menu__categories {
    grid-template-columns: repeat(3, 1fr);
    -moz-column-gap: 1rem;
         column-gap: 1rem;
  }
}
.menu a {
  display: flex;
  padding: 1rem 3.5rem !important;
  margin: 2.87rem auto 0 auto !important;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  justify-content: center;
  border: 0;
  padding: 1rem 1.5rem;
  margin-top: 5rem;
  border-radius: 100px;
  color: white;
  background-color: rgb(104, 104, 104);
  background-image: linear-gradient(0deg, rgba(147, 86, 220, 0.9) 0%, rgba(255, 121, 218, 0.9) 100%);
  cursor: pointer;
  transition-duration: 0.25s;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
}
.menu a:hover {
  background-color: white;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.6);
}

/*---/catégorie/---*/
.category {
  max-width: 100%;
}
.category h3 {
  text-transform: uppercase;
  position: relative;
  margin: 0.8rem 0;
  padding-bottom: 0.5rem;
  font-weight: normal;
  font-size: 1rem;
}
.category h3::after {
  content: "";
  width: 2.5rem;
  height: 0.25rem;
  background-color: #99E2D0;
  position: absolute;
  left: 0;
  bottom: 0;
}
.category.starter {
  margin-bottom: 2rem;
}
.category.dish {
  margin-bottom: 2.5rem;
}

/*---/contenu de catégorie/---*/
.content {
  -webkit-animation: show 0.5s ease-in-out;
          animation: show 0.5s ease-in-out;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
  background-color: white;
  padding: 0.8rem;
  display: flex;
  border-radius: 0.75rem;
  margin: 0.85rem 0;
  box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.1);
  overflow: hidden;
  cursor: pointer;
  position: relative;
  transition: all 0.2s ease-in-out;
  max-width: 100%;
}
.content:nth-child(3) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}
.content:nth-child(4) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}
.content:nth-child(5) {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}
.content__header {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  flex: 1;
}
.content h4 {
  margin: 0 0 0.5rem 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 1.1rem;
}
.content p {
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 0.9rem;
}
.content__price {
  font-weight: bold;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-left: 0.5rem;
}
.content__checking {
  background-color: #99E2D0;
  width: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease-in-out;
  margin: -1rem -5rem -1rem 1.8rem;
}
.content:hover .content__checking {
  margin-right: -1rem;
}
.content:hover .content__checking i {
  -webkit-animation: checked 1s 1 ease-in-out;
          animation: checked 1s 1 ease-in-out;
}
.content i {
  height: 1.6rem;
  width: 1.6rem;
  background-color: white;
  color: #99E2D0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  transition: all 0.4s 0.2s ease-in-out;
}
.content input {
  width: 100%;
  height: 100%;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
}
.content input:checked ~ .content__checking {
  margin-right: -1rem;
}